@model IEnumerable<WebBaiGiang_CKC.Models.Bai>

@{
    var lstMon = ViewBag.lstSubject as List<LopHoc>;

}

<main>

    <div class="menu-toggle"> <a href="#">Menu</a> </div>

    <div class="wrapper">
        @await Html.PartialAsync("~/Views/PartialView/_Menu.cshtml")
        <div class="noidung">


            <ul>
                @if (lstMon != null && lstMon.Count > 0)
                {
                    @foreach (var monhoc in lstMon)
                    {
                        <li>
                            <h2>@monhoc.TenLopHoc</h2>
                            <hr />

                            @foreach (var chuong in monhoc.Chuongs)
                            {
                                <h3 class="thechuong" style="padding-left:30px; background-color: #126f9a; color: #fff;">
                                    @chuong.TenChuong
                                </h3>

                                @foreach (var bai in chuong.Bais)
                                {
                                    <a asp-controller="BaiGiangs" asp-action="Bai" asp-route-id="@bai.BaiId">
                                        <p style="padding-left:50px;">
                                            @bai.TenBai
                                        </p>
                                    </a>
                                    <hr />
                                }
                            }
                        </li>
                    }
                }
            </ul>






        </div>
    </div>

</main>

@section Scripts{
    <script src="~/assets/js/menu_.js">
    </script>
    }
