@using BaiGiang.Models;
@model ForgotPasswordModel

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Quên mật khẩu | ASP.NET CORE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/AdminAssets/images/favicon.ico">


    <link href="~/AdminAssets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/AdminAssets/css/app.min.css" rel="stylesheet" type="text/css" id="light-style" />
    <link href="~/AdminAssets/css/app-dark.min.css" rel="stylesheet" type="text/css" id="dark-style" />

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://cdn.jsdelivr.net/npm/notyf@3.2.0/notyf.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/notyf@3.2.0/notyf.min.js"></script>

</head>

<body class="loading authentication-bg" data-layout-config='{"leftSideBarTheme":"dark","layoutBoxed":false, "leftSidebarCondensed":false, "leftSidebarScrollable":false,"darkMode":false, "showRightSidebarOnStart": true}'>

    <div class="account-pages pt-2 pt-sm-5 pb-4 pb-sm-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xxl-4 col-lg-5">
                    <div class="card">
                        <!-- Logo -->
                        <div class="card-header pt-4 pb-4 text-center bg-primary">
                            <a href="index.html">
                                <span><img src="~/AdminAssets/images/logo.png" alt="" height="18"></span>
                            </a>
                        </div>

                        <div class="card-body p-4" ng-app="myApp" ng-controller="ForgotPasswordController">

                            <div class="text-center w-75 m-auto">
                                <h4 class="text-dark-50 text-center mt-0 fw-bold">Quên mật khẩu</h4>
                                <p class="text-muted mb-4">Vui lòng nhập email của bạn và bạn sẽ nhận được token khôi phục mật khẩu ở email của bạn</p>
                            </div>

                            <form  ng-submit="forgotPassword()" novalidate>
                                <div class="mb-3">
                                    <label  class="form-label">Email</label>
                                    <input class="form-control" type="email"name="email" ng-model="email"  required="" placeholder="Vui lòng nhập Email">
        
                                </div>
                                <div class="mb-0 text-center">
                                    <button class="btn btn-primary" type="submit">Gửi yêu cầu</button>
                                </div>
                            </form>
                        </div> <!-- end card-body-->
                    </div>
                    <!-- end card -->

                    <div class="row mt-3">
                        <div class="col-12 text-center">
                            <p class="text-muted">Quay lại <a asp-area="" asp-controller="Home" asp-action="Index" class="text-muted ms-1"><b>Trang chủ</b></a></p>
                        </div> <!-- end col -->
                    </div>
                    <!-- end row -->

                </div> <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end page -->

    <footer class="footer footer-alt">
        2023 © Đinh Mạnh Huyên | Nguyễn Chí Khang
    </footer>
    <script>
        angular.module('myApp', [])
            .factory('notyf', function () {
                return new Notyf({
                    duration: 3000,
                    position: {
                        x: 'right',
                        y: 'top',
                    },
                    types: [
                        {
                            type: 'success',
                            background: '#00b300',
                            icon: {
                                className: 'material-icons',
                                tagName: 'i',
                                text: 'check_circle',
                                color: 'white',
                            },
                        },
                        {
                            type: 'error',
                            background: '#ff4d4d',
                            icon: {
                                className: 'material-icons',
                                tagName: 'i',
                                text: 'cancel',
                                color: 'white',
                            },
                        },

                    ],
                });
            })
            .controller('ForgotPasswordController', ['$scope', '$http', 'notyf', '$window', function ($scope, $http, notyf, $window) {
                $scope.forgotPassword = function () {
                    var email = $scope.email;

                    if (email) {
                        $http.post('/api/authentication/forgotpassword', { Email: email })
                            .then(function (response) {
                                //notyf.success(response.data);
                                $scope.email = ''; 
                                $window.location.href = '/dangnhap/datlaimatkhau';
                            
                            })
                            .catch(function (error) {
                                notyf.error(error.data);
                            });
                    } else {
                        notyf.error('Vui lòng nhập địa chỉ email của bạn');
                    }
                };
            }]);
        </script>
    <!-- bundle -->
    <script src="~/AdminAssets/js/vendor.min.js"></script>
    <script src="~/AdminAssets/js/app.min.js"></script>
    @await Component.InvokeAsync("Notyf")
</body>
</html>
